<div class="container-contact">
    <div class="container-descriptcion">
        <p>Bienvenido a nuestro espacio de contacto, donde la comunicación toma vida. En este rincón virtual, nos encantaría escuchar tus comentarios, responder a tus preguntas y establecer una conexión directa contigo.

            ¿Tienes alguna duda sobre nuestros productos o servicios? ¿Quisieras compartir tus experiencias con nosotros? ¡Estamos aquí para ayudarte y aprender de ti!</p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="img-maps">
                <img src="" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="container-title">
                    <p>Titulo</p>
                    <p></p>
                </div>
                <div class="container-contact">
                    <ul>
                        <li>Facebook</li>
                        <li>Insta</li>
                        <li>TikTok</li>
                        <li>LinkedIn</li>
                    </ul>
                </div>
                <div class="container-form">
                    <form action="">
                        <div class="row row-cols-1">
                            <div class="col-12">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Nombre">
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Nombre">
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
