<div class="container-footer">
    <div class="subcontainer-footer">
        <div class="row">
            <div class="col-2">
                <p class="titleFooter">Productos</p>
                <ul>
                    <li>Producto Numero 1</li>
                    <li>Producto Numero 2</li>
                </ul>
            </div>
            <div class="col-2">
                <p class="titleFooter">Contacto</p>
                <ul>
                    <li>Producto Numero 1</li>
                    <li>Producto Numero 2</li>
                </ul>
            </div>
            <div class="col-2">
                <p class="titleFooter">Informacion</p>
                <ul>
                    <li>Producto Numero 1</li>
                    <li>Producto Numero 2</li>
                </ul>
            </div>
            <div class="col-2">
                <p class="titleFooter">Siguenos</p>
                <ul>
                    <li>Producto Numero 1</li>
                    <li>Producto Numero 2</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Privacidad Cambios</p>
            </div>
            <div class="col-3">
                <p>Politica de Privacidad</p>
            </div>
            <div class="col-3">
                <p>Terminos y Condiciones</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Adadas Mexico, Inc.</p>
            </div>
        </div>
    </div>
   
    
</div>
