<div class="container-footer container m-auto">
    <div class="subcontainer-footer d-flex flex-column justify-content-center">
        <div class="row my-3">
            <div class="col-3">
                <p class="titleFooter fs-4">Productos</p>
                <ul>
                    <li><a routerLink="products/calzado">Calzado</a></li>
                    <li><a routerLink="products/hombre">Hombre</a></li>
                    <li><a routerLink="products/mujer">Mujer</a></li>
                    <li><a routerLink="">Niños</a></li>
                    <li><a routerLink="">Deportes</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p class="titleFooter fs-4">Informacion</p>
                <ul>
                    <li><a routerLink="">Sobre nosotross</a></li>
                    <li><a routerLink="">Nuestra mision</a></li>
                    <li><a routerLink="">Valores</a></li>
                    <li><a routerLink="">Colaboradores</a></li>
                    <li><a routerLink="">Inversionistas</a></li>
                </ul>
            </div>
            <div class="col-3">
                <p class="titleFooter fs-4">Contacto</p>
                <ul>
                    <li>Producto Numero 1</li>
                    <li>Producto Numero 2</li>
                </ul>
            </div>
           
            <div class="col-3">
                <p class="titleFooter fs-4">Siguenos</p>
                <ul>
                    <li>Producto Numero 1</li>
                    <li>Producto Numero 2</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-foot">
    <div class=" row pt-5 mt-2 d-flex justify-content-center">
        <div class="col-4">
            <p class="text-end text-footer">Privacidad Cambios</p>
        </div>
        <div class="col-2">
            <p class="text-center text-footer">Politica de Privacidad</p>
        </div>
        <div class="col-4">
            <p class="text-footer">Terminos y Condiciones</p>
        </div>
    </div>
    <div class=" row py-3 mt-3">
        <div class="col-12">
            <p class="text-center text-footer">Adadas Mexico, Inc.</p>
        </div>
    </div>
</div>
