<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid py-2">
      <span class="navbar-brand ms-3">Adadas</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-2" id="navbarSupportedContent">
        <ul class="navbar-nav nav-underline me-auto ms-5 column-gap-5 ">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="contacto">Contacto</a>
          </li>
        </ul>
        <div class="d-flex column-gap-4 me-4">
          <div class="btn-class">
            <button class="btn btn-log-in">Iniciar Sesion</button>
          </div>
          <div class="btn-class">
            <button class="btn btn-register">Registrarse</button>
          </div>
        </div>
       
      </div>
    </div>
  </nav>