<div class="container-about-us">
    <div class="container-title">
        <p class="title">Nosotros</p>
    </div>
    <div class="container-info-nosotros">
        <div class="row">
            <div class="col-10">
                <p>Adadas nace en las vibrantes tierras de Tabasco, específicamente en Comalcalco, como una iniciativa apasionada por el deporte y el bienestar. Fundada por entusiastas locales, nuestra empresa se ha convertido en un punto de referencia para la comunidad amante del deporte, ofreciendo productos de alta calidad y servicio excepcional."</p>
            </div>
        </div>
    </div>
    
</div>
