<div class="container-about-us d-flex flex-column">
    <div class="container-title">
        <p class="title text-center">Nosotros</p>
    </div>
    <div class="container-info-nosotros mt-4">
        <div class="row">
            <div class="col-7 m-auto text-center">
                <p class="fs-5">Adadas nace en las vibrantes tierras de Tabasco, específicamente en Comalcalco, como una iniciativa apasionada por el deporte y el bienestar. Fundada por entusiastas locales, nuestra empresa se ha convertido en un punto de referencia para la comunidad amante del deporte, ofreciendo productos de alta calidad y servicio excepcional."</p>
            </div>
        </div>
    </div>
</div>
