<div class="">
    <div class="row justify-content-center">
        <div class="container-our-mission col-5">
            <div class="container-title">
                <p class="title">Nuestra Mision</p>
            </div>
            <div class="container-description">
                <p class="fs-5 mt-3">En Adadas, nos enorgullece ser más que una empresa de ropa deportiva; somos parte del tejido mismo de Tabasco, comprometidos con el bienestar de los tabasqueños. Nos esforzamos por elevar la experiencia deportiva de nuestra comunidad, ofreciendo productos excepcionales que reflejan nuestra dedicación a la calidad y a nuestra raíces locales.</p>
    
                <p class="fs-5 mt-3">Somos guardianes de nuestra tierra y, por ende, nos comprometemos a minimizar nuestro impacto ambiental. Desde la elección de la piel de pochitoque hasta prácticas de embalaje sostenibles, tomamos medidas concretas para preservar la belleza natural de Tabasco.</p>
            </div>
        </div>
        <div class="container-imgs col-6">
            <div class="row justify-content-center">
                <div class="col-6 my-4">
                    <div class="container-img m-auto">
                        <img src="../../../../assets/img/about/_098bddf2-ba47-4205-a04a-893bebca6105.jpeg" alt="">
                    </div>
                </div>
                <div class="col-6 my-4">
                    <div class="container-img">
                        <img src="../../../../assets/img/about/_2131eaa9-2ea4-40e1-9670-6618d9c88914.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 m-auto">
                    <div class="container-img">
                        <img src="../../../../assets/img/about/_5b33cc28-22d7-4c1b-9c72-2e54c24a062c.jpeg" alt="">
                    </div>
                </div>
            </div>

            
            
            
        </div>
    </div>
    
</div>

<!-- <div class="col-6">
    <div class="row">
        <div class="4">
            <div class="container-img">
                <img src="../../../../assets/img/about/_098bddf2-ba47-4205-a04a-893bebca6105.jpeg" alt="">
            </div>
            
        </div>
        <div class="4">
            <div class="container-img">
                <img src="../../../../assets/img/about/_2131eaa9-2ea4-40e1-9670-6618d9c88914.jpeg" alt="">
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container-img">
                <img src="../../../../assets/img/about/_5b33cc28-22d7-4c1b-9c72-2e54c24a062c.jpeg" alt="">
            </div>
            
        </div>
    </div>
</div> -->

<!-- <div class="container-description-info">
    <p class="fs-5 mt-3">En Adadas, nos enorgullece ser más que una empresa de ropa deportiva; somos parte del tejido mismo de Tabasco, comprometidos con el bienestar de los tabasqueños. Nos esforzamos por elevar la experiencia deportiva de nuestra comunidad, ofreciendo productos excepcionales que reflejan nuestra dedicación a la calidad y a nuestra raíces locales.</p>

    <p class="fs-5 mt-3">Somos guardianes de nuestra tierra y, por ende, nos comprometemos a minimizar nuestro impacto ambiental. Desde la elección de la piel de pochitoque hasta prácticas de embalaje sostenibles, tomamos medidas concretas para preservar la belleza natural de Tabasco. Nuestra misión es liderar no solo en la calidad de nuestros productos, sino también en la responsabilidad hacia el medio ambiente que nos rodea.</p>
</div> -->