<div class="container-values d-flex align-items-center">
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="container-value">
                <div class="container-description">
                    <p>Valoramos profundamente la artesanía local y reconocemos el talento de los artesanos tabasqueños. Al elegir la piel de pochitoque, no solo garantizamos productos de alta calidad, sino que también respaldamos y promovemos la habilidad y el arte de nuestros artesanos locales. Creemos en el poder transformador de apoyar las habilidades locales, contribuyendo al desarrollo y la prosperidad de nuestra comunidad.</p>
                </div>
                <div class="title-value">
                    <p class="title text-center">Compromiso con la Sostenibilidad</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container-value">
                <div class="container-description ">
                    <p>Valoramos profundamente la artesanía local y reconocemos el talento de los artesanos tabasqueños. Al elegir la piel de pochitoque, no solo garantizamos productos de alta calidad, sino que también respaldamos y promovemos la habilidad y el arte de nuestros artesanos locales. Creemos en el poder transformador de apoyar las habilidades locales, contribuyendo al desarrollo y la prosperidad de nuestra comunidad.
                    </p>
                </div>
                <div class="title-value">
                    <p class="title text-center">Respeto por la Artesanía Local</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container-value">
                <div class="container-description">     
                    <p>La innovación es la columna vertebral de Adadas, y la incorporación de la piel de pochitoque en nuestros productos es una prueba de ello. Buscamos constantemente maneras de combinar la rica tradición del pochitoque con diseños innovadores y tecnología de vanguardia. Así, no solo ofrecemos productos de rendimiento excepcional, sino que también preservamos y celebramos la identidad única de Tabasco en cada artículo.</p>
                </div>
                <div class="title-value">
                    <p class="title text-center">Compromiso con la Sostenibilidad</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container-value">
                <div class="container-description">
                    <p>La innovación es la columna vertebral de Adadas, y la incorporación de la piel de pochitoque en nuestros productos es una prueba de ello. Buscamos constantemente maneras de combinar la rica tradición del pochitoque con diseños innovadores y tecnología de vanguardia. Así, no solo ofrecemos productos de rendimiento excepcional, sino que también preservamos y celebramos la identidad única de Tabasco en cada artículo.</p>
                </div>
                <div class="title-value">
                    <p class="title text-center">Calidad Inigualable</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container-value">
                <div class="container-description">
                    <p>La innovación es la columna vertebral de Adadas, y la incorporación de la piel de pochitoque en nuestros productos es una prueba de ello. Buscamos constantemente maneras de combinar la rica tradición del pochitoque con diseños innovadores y tecnología de vanguardia. Así, no solo ofrecemos productos de rendimiento excepcional, sino que también preservamos y celebramos la identidad única de Tabasco en cada artículo.</p>
                </div>
                <div class="title-value">
                    <p class="title text-center">Innovación con Identidad Local</p>
                </div>
            </div>
        </div>
</div>
</div>

