
<app-navbar></app-navbar>
<div class="container container-img">
    <div class="container-redesSociales">
        <ul class="list-redesSociales">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            <li><a href="#"><i class="bi bi-twitch"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
        </ul>
    </div>
    <div class="">
        <h1>Hola mi nombre es Adal</h1>
        <h4>Soy Estudiante de la Universidad Modelo</h4>
    </div>
    <div class="img">
        <h1>Fotito</h1>
    </div>
</div>