<!-- <div class="container-nav-products" >
    <nav class="nav nav-underline justify-content-center">
        <a class="nav-link" routerLink="calzado">Calzado</a>
        <a class="nav-link" routerLink='hombre'>Hombre</a>
        <a class="nav-link" routerLink='mujer'>Mujer</a>
        <a class="nav-link" routerLink='niño'>Niños</a>
        <a class="nav-link" routerLink='deportes'>Deportes</a>
        <div class="container-form">
            <form action="" class="form">
                <input type="text">
                <button>Empezar</button>
            </form>
        </div>
    </nav>
</div> -->
 
<div class="container-nav-products d-flex justify-content-center p-3 gap-4 ">
    <nav class="nav nav-underline">
        <a class="nav-link" routerLink="calzado">Calzado</a>
        <a class="nav-link" routerLink='hombre'>Hombre</a>
        <a class="nav-link" routerLink='mujer'>Mujer</a>
        <a class="nav-link" routerLink='niño'>Niños</a>
        <a class="nav-link" routerLink='deportes'>Deportes</a>
    </nav>
    <form action="" class="d-flex gap-2">
        <input type="text" class="form-control">
        <button class="btn">Buscar</button>
    </form>
    
</div>