<div class="container m-auto ">
    <div class="container-title mt-3 ">
        <p class="h3 text-center">Detalles</p>
    </div>
    <div class="row container-details justify-content-center align-items-center">
        <div class="card" style="width: 20rem;">
            <div class="container-img w-50 m-auto" style="height: 13rem;">
                <img [src]="productCard?.img" alt="" class="h-100 w-100 ">
            </div>
            <div class="card-body">
                <h4 class="card-title"> {{ productCard?.name }}</h4>
                <p class="card-text"> Categoria:{{ productCard?.category}}</p>
                <p class="card-text"> Descripcion:{{ productCard?.description}}</p>
                <p class="card-text"> Precio:{{ productCard?.price}}$</p>
                <p class="card-text"> Cantidad:{{ productCard?.stock}}</p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="card m-2" style="width: 18rem;">
    <img [src]="products.img" alt="" style="height: 15rem;">
    <div class="card-body">
        <h4 class="card-title">{{products.name }}</h4>
        <h6 class="card-title">{{ products.id }}</h6>
        <p class="card-text"> {{ products.description}}</p>
        <p class="card-text">Precio: {{ products.price}}$</p>
    </div>
    <div class="card-footer">
        <button class="btn"><a [routerLink]="['../details/', products.id]">Seleccionar</a></button>
    </div>
</div> -->
