
<div class="div-directiva">
    <button type= "button"class="btn btn-primary my-3" (click)="setHabilitar()">{{ Habilitar == true? 'Ocultar' : 'Mostrar' }}</button>
    <div class="card">
        <div class="card-header">
            Listado de Elementos
        </div>
    
        @if (Habilitar == true)
        {
            <ul class="list-group">
                @for (curso of listaCurso; track $index)
                {
                    <li class="list-group-item" > {{curso}}</li>
                }
            </ul>
        }
    </div>
</div>


