<div class="container-contacto">
    <div class="container pt-3">
        <div class="row">
            <div class="col-6">
                <app-mostrar-contacto></app-mostrar-contacto>
            </div>
            <div class="col-6">
                <p class="display-6">Redes Sociales</p>
                <ul>
                    <li>LinkedIn: linkedin.com/in/juanmartinez</li>
                    <li>GitHub: github.com/juanmartinez</li>
                    <li>Twitter: &#64;juan_martinez</li>
                </ul>
            </div>
        </div>
    </div>
</div>
