h1
{
    text-align: center;
    color: crimson;
}
div.contenedor
{
    display: flex;
    background-color: #560bad;
    height: 300px;

    /*Propiedades con Flexbox*/


    /*flex-direction: row;
    flex-wrap: nowrap;
    */

    /*Permite manipular y centrar los elementos dentro del flexbox*/

    flex-flow: row wrap;
    /*Justificacion de los elementos*/
    justify-content: center;
    align-items: center;
    align-content: center;

}

div.contenedor > p
{
    background-color: #4895ef;
    color: #f1faee;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;

}