<header>
  <h1 class="escritorio">Mi primera app Responsive</h1>
  <h1 class="movil">Responsive en movil</h1>

  <nav>
    <a href="">Inicio</a>
    <a href="">Historia</a>
    <a href="">Logros</a>
    <a href="">Contacto</a>
  </nav>
</header>


<main>
  <section id="seccion1">
    <h1>Seccion numero 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis recusandae excepturi possimus amet, minus dolore ipsam quaerat reprehenderit nam voluptatum accusamus corrupti et at deleniti distinctio officia aspernatur repellat quasi!
    Ullam, dolor. Nam quidem nobis, voluptatibus cupiditate officiis numquam magni, praesentium dicta obcaecati accusantium earum id inventore iste error molestias cumque quod reiciendis saepe. Omnis cumque recusandae suscipit harum dolor?
    Totam dolor odit officiis vitae laudantium exercitationem maiores, ea, consectetur minima saepe repellat possimus cum et, adipisci commodi fugiat. Soluta, dolorum. Excepturi atque aliquid quidem dolore beatae, fuga officia quibusdam!
    Voluptates atque dolorum inventore asperiores laudantium ducimus, sunt reiciendis iste quas neque architecto exercitationem fuga corrupti iure illo debitis facilis corporis optio odit nobis tempore, rerum nam. Officiis, qui cupiditate.
    Quos voluptas quibusdam ipsam molestiae quam, quas voluptatibus accusantium fuga, voluptates est corrupti perspiciatis neque sint beatae at aliquam numquam rerum distinctio cupiditate nostrum. Ducimus dolor architecto quae quibusdam repellat.</p>
  </section>
  <section id="seccion2">
    <h1>Seccion numero 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis recusandae excepturi possimus amet, minus dolore ipsam quaerat reprehenderit nam voluptatum accusamus corrupti et at deleniti distinctio officia aspernatur repellat quasi!
      Ullam, dolor. Nam quidem nobis, voluptatibus cupiditate officiis numquam magni, praesentium dicta obcaecati accusantium earum id inventore iste error molestias cumque quod reiciendis saepe. Omnis cumque recusandae suscipit harum dolor?
      Totam dolor odit officiis vitae laudantium exercitationem maiores, ea, consectetur minima saepe repellat possimus cum et, adipisci commodi fugiat. Soluta, dolorum. Excepturi atque aliquid quidem dolore beatae, fuga officia quibusdam!
      Voluptates atque dolorum inventore asperiores laudantium ducimus, sunt reiciendis iste quas neque architecto exercitationem fuga corrupti iure illo debitis facilis corporis optio odit nobis tempore, rerum nam. Officiis, qui cupiditate.
      Quos voluptas quibusdam ipsam molestiae quam, quas voluptatibus accusantium fuga, voluptates est corrupti perspiciatis neque sint beatae at aliquam numquam rerum distinctio cupiditate nostrum. Ducimus dolor architecto quae quibusdam repellat.</p>
  </section>
</main>